{% extends "publications/base.html" %}
{% load humanize %}
{% load static %}
{% load publications_extras %}
{% load highlighter %}

{% block head %}
<title>
ETH SPuD - {{ tak }} ; page {{ page_obj.number }}

{% if year %}
  ; {{ year }}
{% endif %}
</title>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap4-toggle.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/text.expandable.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/selectize.default.css' %}" />

{% endblock head %}
{% block alerts %}

{% endblock alerts %}
{% block content %}
<div id="timer">
  <span id="minutes"></span>:<span id="seconds"></span>
  <div id="info-message"><p>Close this window to cancel the search.</p></div>
</div>
<div id = "alert_placeholder"></div>
<div id="wrapper">
  <main role="main" class="container-fluid" style="margin-top: 50px;">
    <form id="queryForm" class="needs-validation" action="{% url 'index' %}" method="GET" class="mb-3" onsubmit="event.preventDefault(); validate();" validate>
      <input name="limit" type="hidden" value="{{ limit }}">
      <input name="auth" type="hidden" value="{{ auth }}"> 
    <div class="form-row pl-4 pr-4">

      <div class="col-md-6">
        <input type="text" class="form-control" name="tak" value="{{ tak }}" placeholder="query (searches words and basic variations)">
      </div>
      <div class="col-md-1 ">
        <input type="number" step="1" min="1900" max="2020" class="form-control" id="yearmin" name="ymin" value="{{ yearmin }}" placeholder="year min..">
      </div>
      <div class="col-md-1">
        <input type="number" step="1" min="1900" max="2020" class="form-control" id="yearmax" name="ymax" value="{{ yearmax }}" placeholder="year max..">
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control" name="author" value="{{ author }}" placeholder="author..">
      </div>
      <div class="col-md-1 text-right">
        <button class="btn btn-primary" id="btn-submit" type="submit"> Submit </button>
      </div>

    </div>
    <hr class="form">
    <div class="row pl-4 pr-4">    
      <div class="col-md-6">
        <label for="select-GC"><strong>Country / Regions:</strong></label>
        <select id="select-GC" class="filters" name="GCGR" placeholder="Countries / Regions (semantic filter: synonyms and translations)" multiple>
          {% for key, value in FORM_GC_GR.items %}
            {% if key in form_gc_gr %}
              <option value="{{ key }}" selected="selected">{{ value }}</option>
            {% else %}
              <option value="{{ key }}">{{ value }}</option>
            {% endif %}
          {% endfor %}
        </select> 
      </div>
      <div class="col-md-1 text-left" style="visibility: hidden;">
        <label for="min-hdi"><strong>Min-HDI:</strong></label>
        <input type="number" id="hdimin" step="0.01" min="0" max="1" class="form-control" name="hmin" value="{{ min_hdi }}" placeholder="Min-HDI.." title="Value must be between 0 - 1">
      </div>
      <div class="col-md-1 text-left" style="visibility: hidden;">
        <label for="max-hdi"><strong>Max-HDI:</strong></label>
        <input type="number" id="hdimax" step="0.01" min="0" max="1" class="form-control" name="hmax" value="{{ max_hdi }}" placeholder="Max-HDI.." title="Value must be between 0 - 1">
      </div>
    </div>

    <div class="row pl-4 pr-4">
      <div class="col-md-6">
        <label for="select-TE-TT"><strong>Technology: Education / Other:</strong></label>
        <select id="select-TE-TT" class="filters" name="TETT" placeholder="Technology: Education / Other (semantic filter: synonyms and translations)" multiple>
          {% for key, value in FORM_TE_TT.items %}
            {% if key in form_te_tt %}
              <option value="{{ key }}" selected="selected">{{ value }}</option>
            {% else %}
              <option value="{{ key }}">{{ value }}</option>
            {% endif %}
          {% endfor %}
        </select> 
      </div>
      <div class="col-md-6">
        <label for="select-P1-P2"><strong>Population: Education level and Context:</strong></label>
        <select id="select-P1-P2" class="filters" name="P1P2" placeholder="Population: Education level and Context (semantic filter: synonyms and translations)" multiple>
          {% for key, value in FORM_P1_P2.items %}
            {% if key in form_p1_p2 %}
              <option value="{{ key }}" selected="selected">{{ value }}</option>
            {% else %}
              <option value="{{ key }}">{{ value }}</option>
            {% endif %}
          {% endfor %}
        </select> 
      </div>
    </div>
    <div class="row pl-4 pr-4">

      <div class="col-md-6">
        <label for="select-F"><strong>Focus:</strong></label>
        <select id="select-F" class="filters" name="F" placeholder="Focus (semantic filter: synonyms and translations)" multiple>
          {% for key, value in FORM_F.items %}
            {% if key in form_f %}
              <option value="{{ key }}" selected="selected"> {{ value }} </option>
            {% else %}
              <option value="{{ key }}">{{ value }}</option>
            {% endif %}
          {% endfor %}
        </select> 
      </div>

      <div class="col-md-6">
        <label for="select-R"><strong>Research methods:</strong></label>
        <select id="select-R" class="filters" name="R" placeholder="Research methods (semantic filter: synonyms and translations)" multiple>
          {% for key, value in FORM_R.items %}
            {% if key in form_r %}
              <option value="{{ key }}" selected="selected">{{ value }}</option>
            {% else %}
              <option value="{{ key }}">{{ value }}</option>
            {% endif %}
          {% endfor %}
        </select> 
      </div>
    </div>
    <div class="row pl-4 pr-4">
      <div class="col-md-6">
        <label for="select-GD"><strong>Development Terms:</strong></label>
        <select id="select-GD" class="filters" name="GD" placeholder="Development Terms (semantic filter: synonyms and translations)" multiple>
          {% for key, value in FORM_GD.items %}
            {% if key in form_gd %}
              <option value="{{ key }}" selected="selected">{{ value }}</option>
            {% else %}
              <option value="{{ key }}">{{ value }}</option>
            {% endif %}
          {% endfor %}
        </select> 
      </div>
      <div class="col-md-6">
        <label for="select-O"><strong>Organisations:</strong></label>
        <select id="select-O" class="filters" name="O" placeholder="Organisations (semantic filter: synonyms and translations)" multiple>
          {% for key, value in FORM_O.items %}
            {% if key in form_o %}
              <option value="{{ key }}" selected="selected">{{ value }}</option>
            {% else %}
              <option value="{{ key }}">{{ value }}</option>
            {% endif %}
          {% endfor %}
        </select> 
      </div>
    </div>

    <hr class="form">
    <div class="row pl-5 pr-5">

      <div class="col-md-2">
        <input class="form-check-input" type="checkbox" value="1" id="old-search-engine-checkbox" name="search">
        <label class="form-check-label" for="old-search-engine-checkbox">
          Old search type
        </label>
      </div>
      <div class="col-md-2">
        <input class="form-check-input" type="checkbox" value="on" id="highlight-checkbox" name="hlight" {% if not highlight_keywords %} checked {% endif %}>
        <label class="form-check-label" for="highlight-checkbox">
          Highlighting off
        </label>
      </div>
      <div class="col-md-2">
        <input class="form-check-input" type="checkbox" value="1" id="rank-10-checkbox" name="rank10" {% if not below_rank_10 %} checked {% endif %}>
        <label class="form-check-label" for="rank-10-checkbox">
          Include rank < 10
        </label>
      </div>
    </div>
  </form>
    <div class="row pl-4 pr-4 pt-2"> 
      <div class="col-md-6">
        <p class="b">
          Matching records:
          <span class="font-weight-bold"> {{ total_matched_records|intcomma }} </span>
          (out of {{ total_records|intcomma }} records)
        </p>
      </div>
      <div class="col-md-2 text-right offset-md-2 d-none">
        <button type="button" class="btn btn-warning text-white" id="btn-mark-now" data-toggle="tooltip" data-placement="top" title="Click to highlight key words and search terms. Note that this will momentarily slow down this page.">
          <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
          Mark Now
        </button>
      </div>
      <div class="col-md-2 text-left">
        <p class="b">
          Search time: {{ timer }}s
        </p>
      </div>
      <div class="col-md-2 text-left">
        <input id="abstract-toggle-btn" type="checkbox" checked data-toggle="toggle" data-on="Abridged Abstracts" data-off="Full Abstracts" data-onstyle="success" data-offstyle="danger" data-width="210" data-height="39">
      </div>
      <div class="col-md-2 pl-5 pr-5 pt-1">
        <form action="{% url 'zotero_export' %}" method="POST">
          {% csrf_token %}
          <input name="auth" type="hidden" value="{{ auth }}">
          <input name="tak" type="hidden" value="{{ tak }}">
          <input name="year" type="hidden" value="{{ year }}">
          <input name="author" type="hidden" value="{{ author }}">
          {% for values in form_gc_gr %}
            <input name="gc/gr" type="hidden" value="{{ values }}">
          {% endfor %}            
          {% for values in form_gd %}
            <input name="gd" type="hidden" value="{{ values }}">
          {% endfor %}
          {% for values in form_f %}
            <input name="f" type="hidden" value="{{ values }}">
          {% endfor %}
          {% for values in form_o %}
            <input name="o" type="hidden" value="{{ values }}">
          {% endfor %}
          {% for values in form_p1_p2 %}
            <input name="p1/p2" type="hidden" value="{{ values }}">
          {% endfor %}
          {% for values in form_r %}
            <input name="r" type="hidden" value="{{ values }}">
          {% endfor %}
          {% for values in form_te_tt %}
            <input name="te/tt" type="hidden" value="{{ values }}">
          {% endfor %}
          <input name="hmin" type="hidden" value="{{ min_hdi }}">
          <input name="hmax" type="hidden" value="{{ max_hdi }}">
          <input name="rank10" type="hidden" value="{{ rank10 }}">
          <button class="btn btn-secondary btn-block" id="export-btn"> RIS Export </button>
        </form>          
      </div>
    </div>
    <div class="row mt-1">
        <ul class="legend col-md pl-5 pt-1">
          {% for key, values in KEYWORDS_LIST %}
            <li> <span class="mark{{ key }}"></span> {{ key }} </li>
          {% endfor %}
        </ul>
    </div>

    <div class="row mt-6">
      <div class="col-md-12 pl-5 pr-5 pt-1">

        <table class="table table-bordered">
          <thead>
            <tr class="text-center d-flex">
              <th class="col-2"> Authors </th>
              <th class="col-1"> Year </th>
              <th class="col-2"> Title </th>
              <th class="col-3"> Abstract </th>
              <th class="col-2"> Keywords </th>
              <th class="col-1"> Links </th>
              <th class="col-1"> Rank </th>
            </tr>
          </thead>

          {% for publication in page_obj %}
            <tr class="d-flex">
              <td class="col-2"> {{ publication.authors|check_availablity }} </td>
              <td class="col-1"> {{ publication.year }} </td>
              <td class="col-2 highlighter">
                <a href="{% url 'showrecord'%}?auth={{ auth }}&importedfrom={{ publication.get_persisted_id | urlencode }}&id={{ publication.id }}&highlight={{ highlight_param }}" target="_blank">
                  {% if highlight_keywords %}
                    {{ publication.title|check_availablity|replace_highlighted }}
                  {% else %}
                    {{ publication.title|check_availablity }}
                  {% endif %}
                </a>
              </td>
              <td class="col-3 highlighter wrap addReadMore showlesscontent" wordsLmt="{{ ABSTRACT_WORDS_LIMIT }}">
                {% if highlight_keywords %}
                  {{ publication.abstract|check_availablity|replace_highlighted }}
                {% else %}
                  {{ publication.abstract|check_availablity }}
                {% endif %}
              </td>
              <td class="col-2 highlighter wrap">
                {% if highlight_keywords %}
                  {{ publication.keywords|check_availablity|replace_highlighted }}
                {% else %}
                  {{ publication.keywords|check_availablity }}
                {% endif %}
              </td>
              <td class="col-1 highlighter wrap">
                {% if publication.doi %}
                  <a href="https://doi.org/{{ publication.doi }}" target="_blank"> {{ publication.doi }} </a>
                  <br><br>
                {% endif %}

                <a href="https://scholar.google.co.uk/scholar?q={{ publication.title }}" target="_blank">
                  Google Scholar
                </a>
              </td>
              <td class="col-1"> {{ publication.relevance.relevance }} </td>
            </tr>
          {% endfor %}

        </table>

        <div class="d-flex">
          <ul class="pagination mx-auto">

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Previous">
                  <span aria-hidden="true">first</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% endif %}

            {% for n in page_obj.paginator.page_range %}
              {% if page_obj.number == n %}
                <li class="page-item active">
                  <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                </li>
              {% elif n > page_obj.number|add:'-5' and n < page_obj.number|add:'5' %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ n }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ n }}</a>
                </li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="Next">
                  <span aria-hidden="true">last</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>

        <button class="btn btn-primary" id="query-btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Show Query
        </button>
        <button onclick="topFunction()" class="btn btn-danger" id="top-btn" title="Go to top">Go to top</button>
        <br><br>
        <div class="collapse" id="collapseExample">
          <p class="b"> Query: <span class="font-weight-bold"> {{ q__q }} </span> </p>
          <p class="b"> Timestamp: <span class="font-weight-bold"> {{ ""|timestamp }} </span> </p>
        </div>

      </div>
    </div>
  </main>
</div>
</div>
<div id="loading">
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<!-- <script src="{% static 'js/jquery-3.4.1.slim.min.js' %}"></script> -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap4-toggle.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.min.js' %}"></script>
<script src="{% static 'js/jquery.mark.js' %}"></script>
<script src="{% static 'js/text.expandable.js' %}"></script>
<script src="{% static 'js/selectize.js' %}"></script>

<script src="{% static 'js/publications.js' %}"></script>

<script>
$('.filters').selectize({
  plugins: ['remove_button'],
  delimiter: ',',
  sortField: {
    field: 'text',
    direction: 'asc'
  },
  dropdownParent: 'body',
});
</script>
<script>
function showAlertHdiMinMoreThanHdiMax() {

    $('#alert_placeholder').append('<div id="alertdiv" class="alert alert-danger alert-dismissible fade show" role="alert"> HDI min has to be smaller than HDI max. <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>')

    setTimeout(function() { // this will automatically close the alert and remove this if the users doesnt close it in 3 secs


      $("#alertdiv").remove();

    }, 5000);
}

function showAlertYearMinMoreThanYearMax() {

    $('#alert_placeholder').append('<div id="alertdiv" class="alert alert-danger alert-dismissible fade show" role="alert"> Start year has to be smaller or equal to end year. <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div>')

    setTimeout(function() { // this will automatically close the alert and remove this if the users doesnt close it in 3 secs


      $("#alertdiv").remove();

    }, 5000);
}

function spinner() {
  document.getElementById("loading").style.visibility = "visible";
  document.getElementById("timer").style.visibility = "visible";
  document.getElementById("wrapper").style.visibility = "hidden";
  var sec = 0;
  function pad ( val ) { return val > 9 ? val : "0" + val; }
  setInterval( function(){
  document.getElementById("seconds").innerHTML=pad(++sec%60);
  document.getElementById("minutes").innerHTML=pad(parseInt(sec/60,10));
  }, 1000);
}

function validate() {
  var ymin = document.getElementById("yearmin").value;
  var ymax = document.getElementById("yearmax").value;
  var hmin = document.getElementById("hdimin").value;
  var hmax = document.getElementById("hdimax").value;
  var currentTime = new Date();
  var currentyear = currentTime.getFullYear();
  var regex=/^[0-9]+$/;
  document.getElementById("yearmin").style.borderColor = "black";
  document.getElementById("yearmax").style.borderColor = "black";
  document.getElementById("hdimin").style.borderColor = "black";
  document.getElementById("hdimax").style.borderColor = "black";

  if ((hmin !== "") && (hmax !== "") && (hmin > hmax)) {
    document.getElementById("hdimin").style.borderColor = "red";
    document.getElementById("hdimax").style.borderColor = "red";
    showAlertHdiMinMoreThanHdiMax();
  } 
  else if ((ymin !== "") && (ymax !== "") && (ymin > ymax)) {
    document.getElementById("yearmin").style.borderColor = "red";
    document.getElementById("yearmax").style.borderColor = "red";
    showAlertYearMinMoreThanYearMax();
  } 
  else {
    document.getElementById("queryForm").submit();
    spinner();
  }
}

</script>
<script>
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
    }
</script>
{% endblock scripts %}
