body {
	font-family: Montserrat !important;
}

.navbar {
	padding: 0.1rem 1rem !important;
	font-size: 16px !important;
}

.markCountries {
	background: yellow;
	color: black;
}

.markRegions {
	background: purple;
	color: white;
}

.markDevelopmentTerms {
	background: #326791;
	color: white;
}

.markSearchTerms {
	background: green;
	color: white;
}

.markTechTerms {
	background: #9B2335;
	color: white;
}

.markEducationalTerms {
	background: #EFC050;
	color: white;
}

.markPopulation1 {
	background: #DD4124;
	color: white;
}

.markPopulation2 {
	background: #009B77;
	color: white;
}

.markOrganizations {
	background: #955251;
	color: white;
}

.markFocus {
	background: #C3447A;
	color: white;
}

.markResearch {
	background: #88B04B;
	color: white;
}

.wrap {
	word-wrap:break-word;
}

.font6 {
	font-size: 6px;
}

.tooltip-inner {
	max-width: 200px !important;
}

.form-check-label {
	cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

#loading {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("https://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center;
  visibility: hidden;
}

hr.form {
  border-top: 4px solid black;
}

.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 20px; height: 20px; margin: 2px; }