body {
	font-family: Montserrat !important;
}

.navbar {
	padding: 0.1rem 1rem !important;
	font-size: 16px !important;
	z-index: 999 !important;
}

.markCountries {
	background: #F8FD89;
	color: black;
}

.markRegions {
	background: #B987DC;
	color: black;
}

.markDevelopmentTerms {
	background: #96ADFC;
	color: black;
}

.markTechTerms {
	background: #E0A6AA;
	color: black;
}

.markEducationalTerms {
	background: #EDDD6E;
	color: black;
}

.markPopulation1 {
	background: #EDD1B0;
	color: black;
}

.markPopulation2 {
	background: #A5F7E1;
	color: black;
}

.markOrganizations {
	background: #D8D3D6;
	color: black;
}

.markFocus {
	background: #DBE1F1;
	color: black;
}

.markResearch {
	background: #A8F29A;
	color: black;
}

.wrap {
	word-wrap:break-word;
}

.font6 {
	font-size: 6px;
}

.tooltip-inner {
	max-width: 200px !important;
}

.form-check-label {
	cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

#loading {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("https://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center;
  visibility: hidden;
}

hr.form {
	border-top: 4px solid black;
	width: 98%;
	margin-left: 20px;
}

.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 20px; height: 20px; margin: 2px; }

.footer {
  position: static;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  color: white;
  height:70px;
}

#timer {
	position: fixed;
	visibility: hidden;
	font-size: 100px;
	left: 43%;
	top: 60%;
}

.alerts {
    position:fixed;
    z-index: 999;
}